/**css for main aind patient**/
/** LOGIN VIEW **/
#login_view {
    width: 500px;
    margin: auto;
    left: 25%;
    right: 25%;
    margin-top: 10%;
    z-index: 0;
    position: fixed;
}

#login_form {
    
    width: 360px;
    margin: auto;
    padding: 1px 0px 10px 0px;
}

/** PATIENT VIEW **/
#patient_scroll {
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
    width: 100%;
    max-height: 100%;
    position: fixed;

}
body ::-webkit-scrollbar{
    display: none;
}


#patient_frame {
    width: 500px;
    min-height: 500px;
    margin: auto;
    left: 25%;
    right: 25%;
    margin-top: 5%;
    z-index: 1;
    margin-bottom: 150px;
    padding: 15px 0px 0px 0px;
}

.patient_table, .patient_table tr, .patient_table td {
    padding: 5px 15px 5px 10px;
    margin: auto;
    margin-bottom: 30px;
}

.sidetd {
    width: 120px;
    text-align: right;
}

.datatd {
    width:  200px;
    text-align: left;
}

.patient_history{
    margin: auto;
    width: 350px;
    background-color:#cdd2db;
    padding: 15px 0px 20px 0px;
    border-radius: 13px;
}

#endbar {
    height: 50px;
}

h3 {
    color: rgb(83, 145, 153);
}